NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=get this key from clerk dashboard
CLERK_SECRET_KEY=get this key from clerk dashboard

DATABASE_URL=get this key from neon dashboard
DIRECT_URL=get this key from neon dashboard